#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

PKG_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/~.*//')
PKG_SOURCE  := $(shell jq -r '.name' composer.json)

%:
	dh $@

#override_dh_auto_install:
#	dh_auto_install -- prefix=/usr

override_dh_install:
	mkdir -p debian/tmp
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  debian/composer.json |sponge debian/tmp/composer.json
	dh_install
	sed -i "1a defined('APP_NAME') || define('APP_NAME', '$(PKG_SOURCE)');" \
		debian/php-vitexsoftware-ease-html-widgets/usr/share/php/EaseHtmlWidgets/autoload.php
	sed -i "s|: 'unknown'|: '$(PKG_SOURCE)'|" \
		debian/php-vitexsoftware-ease-html-widgets/usr/share/php/EaseHtmlWidgets/autoload.php
	sed -i "s|: '0.0.0'|: '$(PKG_VERSION)'|" \
		debian/php-vitexsoftware-ease-html-widgets/usr/share/php/EaseHtmlWidgets/autoload.php
	sed -i "2a defined('APP_VERSION') || define('APP_VERSION', '$(PKG_VERSION)');" \
		debian/php-vitexsoftware-ease-html-widgets/usr/share/php/EaseHtmlWidgets/autoload.php
